/*#3*/
.modal-overlay {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.progress-wrapper {
    position: relative;
    width: 500px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.progress-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bg {
    width: 100%;
    background-color: #434343;
    color: #000000;
}

.logo-microsoft {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    padding: 4px;
    box-sizing: border-box;
}

.jp-flag {
    width: 100px;
    height: 100px;
}

.red-circle {
    position: relative;
    background-color: red;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ms-red {
    background-color: #F25022;
}
.ms-green {
    background-color: #7FBA00;
}
.ms-blue {
    background-color: #00A4EF;
}
.ms-yellow {
    background-color: #FFB900;
}

#window {
    display: none;
    z-index: 1;
    width: 640px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
}

.close {
    display: block;
    margin: 5px;
}

.content {
    margin: 10px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.progress-fill {
    width: 70%;
    z-index: 2;
    background-color: #df0000;
    overflow: hidden;
    justify-content: flex-start;
}

.text-white-container {
    color: white;
    width: 500px;
    text-align: center;
    flex-shrink: 0;
}